.ver-align-b {
  vertical-align: bottom;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f7f7f8;
  font-family: 'Microsoft JhengHei';
}

body a {
  text-decoration: none;
  color: black;
}

body a:hover {
  color: black;
}

body h2 {
  font-size: 22px;
}

.content {
  max-width: 100%;
}

.content > header {
  background-color: #1e475d;
}

.content > header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 10px;
}

.content > header .th-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content > header .th-title h2 {
  color: white;
}

.navbar {
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

.navbar .navbar-nav .nav-item .nav-link {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-radius: 100px;
  position: relative;
  color: white;
}

.navbar .navbar-nav .nav-item:hover .nav-link {
  background-color: #c0e560;
  color: #1e475d;
}

.navbar .navbar-nav .nav-item + li {
  margin-left: 5px;
}

.navbar .navbar-nav .nav-item.notice-item:hover .nav-link, .navbar .navbar-nav .nav-item.setup-item:hover .nav-link {
  background-color: #1e475d;
  color: white;
}

.navbar .navbar-nav .dropdown-hover .dropdown-menu {
  border-radius: 10px;
  background-color: #c0e560;
  display: none;
  position: absolute;
  top: 55px;
  z-index: 1;
  -webkit-transition: 1s;
  transition: 1s;
  min-width: 100px;
  padding: 5px;
  text-align: center;
}

.navbar .navbar-nav .dropdown-hover .dropdown-menu > li {
  padding: 6px 0px;
  margin: 8px 0px;
}

.navbar .navbar-nav .dropdown-hover:hover .dropdown-menu {
  display: block;
}

.navbar .navbar-nav .dropdown-menu li a {
  color: #1e475d;
}

.navbar .navbar-nav .dropdown-menu li:hover a {
  text-decoration: underline;
}

.navbar.navbar-expand-sm .navbar-nav .nav-link {
  padding: 0.8rem 1.2rem;
}

.notice-item {
  margin-top: 5px;
}

.notice-item > a {
  position: relative;
  padding: 6px 0px;
}

.notice-item > a .notice-num {
  border-radius: 100px;
  background-color: #ff6565;
  position: absolute;
  top: 0px;
  right: -5px;
  padding: 3px 8px;
  font-size: 12px;
}

.notice-item > a:after {
  display: none;
}

.notice-item .dropdown-menu {
  min-width: 300px;
  padding: 0px;
  top: 38px;
  right: 0;
  left: auto;
}

.notice-item .dropdown-menu header {
  border-bottom: 1px solid rgba(19, 34, 149, 0.1);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.notice-item .dropdown-menu header h3 {
  font-size: 16px;
  font-weight: 700;
}

.notice-item .dropdown-menu .dropdown-item {
  padding: 13px 15px;
}

.notice-item .dropdown-menu .dropdown-item figure {
  display: inline-block;
}

.notice-item .dropdown-menu .dropdown-item div {
  display: inline-block;
  margin-left: 10px;
}

.notice-item .dropdown-menu .dropdown-item div p {
  font-size: 14px;
  line-height: 24px;
}

.notice-item .dropdown-menu .dropdown-item div span {
  font-size: 12px;
  line-height: 24px;
}

.notice-item .dropdown-menu .dropdown-item + a {
  border-top: 1px solid rgba(19, 34, 149, 0.1);
}

.notice-item .dropdown-menu .dropdown-item.new-item {
  position: relative;
}

.notice-item .dropdown-menu .dropdown-item.new-item div p {
  font-weight: 700;
}

.notice-item .dropdown-menu .dropdown-item.new-item:after {
  content: '';
  display: block;
  background-color: #c0e560;
  border-radius: 10px;
  position: absolute;
  top: 30px;
  right: 20px;
  width: 12px;
  height: 12px;
}

.notice-item .dropdown-menu .dropdown-item.more {
  text-align: center;
}

.notice-item .dropdown-menu .dropdown-item.more p {
  color: #7cb305;
}

.dropdown-item:active {
  color: black;
  text-decoration: none;
  background-color: white;
}

.setup-item .dropdown-menu {
  -webkit-box-shadow: 1px 1px 2px #bbbbbb;
          box-shadow: 1px 1px 2px #bbbbbb;
  background-color: white;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  min-width: 254px;
  padding: 0px;
}

.setup-item .dropdown-menu .dropdown-item {
  padding: 12px 10px;
}

.setup-item .dropdown-menu .dropdown-item figure {
  display: inline-block;
  padding: 0px 12px;
}

.setup-item .dropdown-menu .dropdown-item > div {
  display: inline-block;
}

.setup-item .dropdown-menu .dropdown-item > div > p {
  font-size: 16px;
  line-height: 24px;
}

.setup-item .dropdown-menu .dropdown-item > div span {
  vertical-align: sub;
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.setup-item .dropdown-menu .dropdown-item + a {
  border-top: 1px solid rgba(19, 34, 149, 0.1);
}

.setup-item .dropdown-menu .text p {
  text-align: center;
  font-size: 12px;
  padding: 10px 10px;
}

.setup-item .dropdown-menu:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  border-style: solid;
  border-width: 0 15px 16px 15px;
  border-color: transparent transparent #ffffff transparent;
}

.setup-item .dropdown-menu[data-bs-popper] {
  top: 100%;
  left: auto;
  right: 0;
}

.setup-item:hover .nav-link {
  background-color: #1e475d;
}
/*# sourceMappingURL=Layout.css.map */