.main-container {
  padding: 20px 25px;
}

.container footer {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
}

.page-wrap {
  background-color: white;
  border: 1px rgba(19, 34, 149, 0.1);
  -webkit-box-shadow: 1px 1px 12px #dddddd;
          box-shadow: 1px 1px 12px #dddddd;
  border-radius: 10px;
  padding: 20px 25px;
}

.page-wrap form {
  overflow: hidden;
  position: relative;
}

.page-wrap form > div {
  width: 30%;
}

.page-wrap form button {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=account.css.map */