$blue: #1e475d;
$green: #c0e560;
$greendeep: #8bb51e;
$greenlight: #eaf6c9;
$pink: #ff6565;
$error: #f10000;
$black: #343741;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;

i {
  display: inline-block;
}

//顏色
.green {
  color: $green !important;
}

.gray {
  color: rgba(0, 0, 0, 0.25);
}

.bg-success {
  background-color: transparent !important;
}

.main-container {
  .wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

//清除
.flow-hidden {
  overflow: hidden;
}

//寬度
.w-100 {
  width: 100%;
}
.w-5 {
  width: 5%;
}
.w-15 {
  width: 15%;
}
.w-16 {
  width: 16%;
}

.w-19 {
  width: 19%;
}
.w-20 {
  width: 20%;
}

.w-22 {
  width: 22%;
}

.w-27 {
  width: 27%;
}
.ml-3 {
  margin-left: 3%;
}
.ml-4 {
  margin-left: 4%;
}
// .container {
//   width: 50%;
// }

//標題
.title-wrap {
  margin-bottom: 15px;
  h2,
  h3 {
    font-weight: 700;
  }
  h3 {
    font-size: 34px;
    line-height: 48px;
  }
  h4 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
  }
  h5 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
  }
}

//modal標題
.title-wrap--modal {
  margin: 15px 0px;
  h4 {
    font-size: 34px;
    line-height: 48px;
    font-weight: 700;
    text-align: center;
    color: $black;
  }
}

//按鈕
.btn {
  border-radius: 8px;
  color: black;
  font-size: 16px;
  line-height: 24px;
  box-shadow: 1px 1px 1px #e7e3e3;
  padding: 0.375rem 1.1rem;
  i {
    margin-right: 5px;
  }
  &:hover {
    color: black !important;
    opacity: 0.8;
    box-shadow: none;
  }
  &:focus {
    box-shadow: none;
  }
}

.btn-green {
  background-color: $green;
  border-color: $green;
  color: $blue;
  &:focus,
  &:hover {
    background-color: #a3d523;
  }
}

.btn-light {
  background-color: white;
  border: 1px solid rgba(19, 34, 149, 0.1);
  color: black;
  &:hover {
    border: 1px solid rgba(19, 34, 149, 0.1);
  }
}

//按鈕尺寸
.btn-lg {
  width: 100%;
}

.btn-md {
  width: 47%;
  float: left;
  & + button {
    margin-left: 6%;
  }
}

//表單
form {
  padding: 5px;
  input {
    font-size: 16px;
    line-height: 24px;
  }
  label {
    font-size: 14px;
    line-height: 24px;
  }
  .needs-validation {
    label,
    .error-text {
      color: $pink;
    }
    .error-text {
      margin-left: 3px;
      font-size: 14px;
      line-height: 24px;
    }
    input {
      border-bottom: 1px solid $pink;
    }
  }
}

.form-wrap {
  float: left;
  height: 83px;
  .form-label {
    margin-bottom: 3px;
  }
  input,
  select {
    font-size: 14px;
  }
  p {
    span {
      font-size: 14px;
    }
  }
}

.input-icon {
  position: relative;
  input {
    padding-left: 35px;
  }
  i {
    position: absolute;
    top: 12px;
    left: 12px;
  }
}

.form-label {
  font-weight: bold;
}
.form-text {
  padding: 0.375rem 0rem;
  margin-top: 0px;
  font-size: 16px;
  line-height: 24px;
  color: black;
}
.form-control-small {
  display: inline-block;
  width: 40px;
  padding: 5px 7px;
  text-align: center;
}

//純文字
.form-control-plaintext {
  background-color: transparent !important;
  border: none !important;
  outline: none;
  padding: 0.375rem 0 !important;
  &:hover {
    cursor: initial;
  }
}

.star {
  color: red;
}

//錯誤訊息
.error-message {
  background-color: #fff4f4;
  color: $error;
  font-weight: 500;
  padding: 15px;
}

//六位數驗證碼
.vertifycode {
  position: relative;
  width: 100%;
  overflow: hidden;
  .code {
    width: 100%;
    padding: 0;
    height: 40px;
    font-size: 35px;
    border: none;
    outline: none;
    letter-spacing: 50px;
    padding-left: 16px;
  }
  .labels {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 40px;
  }
  .label {
    width: 12%;
    border-bottom: solid 2px #313131;
    float: left;
    color: #313131;
    font-size: 35px;
    text-align: center;
    padding-bottom: 4px;
    & + .label {
      margin-left: 21px;
    }
  }
}

// Modal樣式
.modal-wrap {
  background-color: white;
  padding: 20px;
}

//麵包屑
.bread-wrap {
  ul {
    overflow: hidden;
    li {
      font-size: 16px;
      line-height: 18px;
      color: #757575;
      position: relative;
      float: left;
      a {
        font-size: 16px;
        line-height: 18px;
        color: #333333;
        &:hover {
          text-decoration: underline;
        }
      }

      & + li {
        margin-left: 20px;
        &:before {
          content: '>';
          display: inline-block;
          position: absolute;
          left: -14px;
          top: -2px;
        }
      }
    }
  }
}

//操作bar
.operate-wrap {
  .form-select {
    width: 135px;
  }
  .form-control {
    width: 270px;
  }
}

//table
.table {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(19, 34, 149, 0.1);
  box-shadow: 1px 1px 1px grgba(19, 34, 149, 0.1);
  border-collapse: separate;
  thead > tr > th,
  tbody > tr > td {
    padding: 7px 5px;
    font-size: 14px;
    line-height: 24px;
    color: $black;
  }
  thead {
    border-bottom: 1px solid #d3dae6;
    tr {
      th {
        font-weight: bold;
        border-bottom: 1px solid #d3dae6;
      }
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid #d3dae6;
      td {
        border-bottom: 1px solid #d3dae6;
      }
    }
  }
}

//每頁行數
.rowsperpage {
  .form-select {
    width: 35%;
    display: inline-block;
    background-color: transparent;
    border: none;
  }
}

.pagination-fms {
  ul {
    li {
      & + li {
        margin-left: 10px;
      }
      &.active {
        .page-link {
          background-color: $blue;
          color: white;
        }
      }
    }
    // li:nth-child(1),
    // li:nth-last-child(1) {
    //   .page-link {
    //     background-color: transparent;
    //     color: $blue;
    //     border-radius: 8px;
    //     padding: 0;
    //     width: 25px;
    //     height: 25px;
    //     text-align: center;
    //     line-height: 24px;
    //     border: none;
    //   }
    // }
  }
}
.page-link {
  background-color: transparent;
  color: $blue;
  border-radius: 8px;
  padding: 0;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 24px;
  border: none;
}

//提示訊息卡片

//收合
#collapseExample {
  .card {
    display: inline-block;
    border-radius: 10px;
    width: 100%;
    flex: none;
    margin: 10px 0px;
  }
}
.collapse-btn {
  position: relative;
  padding-left: 25px;
  &::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;

    position: absolute;
    top: 6px;
    left: 6px;
  }
  // &.collapse {
  //   &::before {
  //     width: 10px;
  //     height: 10px;
  //     background: url('../images/icon/cut.png');
  //   }
  // }
}

.collapse-btn[aria-expanded='true'] {
  &::before {
    background: url('../images/icon/cut.png');
  }
}
.collapse-btn[aria-expanded='false'] {
  &::before {
    background: url('../images/icon/plus.png');
  }
}
