i {
  display: inline-block;
}

.green {
  color: #c0e560 !important;
}

.gray {
  color: rgba(0, 0, 0, 0.25);
}

.bg-success {
  background-color: transparent !important;
}

.main-container .wrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.flow-hidden {
  overflow: hidden;
}

.w-100 {
  width: 100%;
}

.w-5 {
  width: 5%;
}

.w-15 {
  width: 15%;
}

.w-16 {
  width: 16%;
}

.w-19 {
  width: 19%;
}

.w-20 {
  width: 20%;
}

.w-22 {
  width: 22%;
}

.w-27 {
  width: 27%;
}

.ml-3 {
  margin-left: 3%;
}

.ml-4 {
  margin-left: 4%;
}

.title-wrap {
  margin-bottom: 15px;
}

.title-wrap h2,
.title-wrap h3 {
  font-weight: 700;
}

.title-wrap h3 {
  font-size: 34px;
  line-height: 48px;
}

.title-wrap h4 {
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
}

.title-wrap h5 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

.title-wrap--modal {
  margin: 15px 0px;
}

.title-wrap--modal h4 {
  font-size: 34px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
  color: #343741;
}

.btn {
  border-radius: 8px;
  color: black;
  font-size: 16px;
  line-height: 24px;
  -webkit-box-shadow: 1px 1px 1px #e7e3e3;
          box-shadow: 1px 1px 1px #e7e3e3;
  padding: 0.375rem 1.1rem;
}

.btn i {
  margin-right: 5px;
}

.btn:hover {
  color: black !important;
  opacity: 0.8;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-green {
  background-color: #c0e560;
  border-color: #c0e560;
  color: #1e475d;
}

.btn-green:focus, .btn-green:hover {
  background-color: #a3d523;
}

.btn-light {
  background-color: white;
  border: 1px solid rgba(19, 34, 149, 0.1);
  color: black;
}

.btn-light:hover {
  border: 1px solid rgba(19, 34, 149, 0.1);
}

.btn-lg {
  width: 100%;
}

.btn-md {
  width: 47%;
  float: left;
}

.btn-md + button {
  margin-left: 6%;
}

form {
  padding: 5px;
}

form input {
  font-size: 16px;
  line-height: 24px;
}

form label {
  font-size: 14px;
  line-height: 24px;
}

form .needs-validation label,
form .needs-validation .error-text {
  color: #ff6565;
}

form .needs-validation .error-text {
  margin-left: 3px;
  font-size: 14px;
  line-height: 24px;
}

form .needs-validation input {
  border-bottom: 1px solid #ff6565;
}

.form-wrap {
  float: left;
  height: 83px;
}

.form-wrap .form-label {
  margin-bottom: 3px;
}

.form-wrap input,
.form-wrap select {
  font-size: 14px;
}

.form-wrap p span {
  font-size: 14px;
}

.input-icon {
  position: relative;
}

.input-icon input {
  padding-left: 35px;
}

.input-icon i {
  position: absolute;
  top: 12px;
  left: 12px;
}

.form-label {
  font-weight: bold;
}

.form-text {
  padding: 0.375rem 0rem;
  margin-top: 0px;
  font-size: 16px;
  line-height: 24px;
  color: black;
}

.form-control-small {
  display: inline-block;
  width: 40px;
  padding: 5px 7px;
  text-align: center;
}

.form-control-plaintext {
  background-color: transparent !important;
  border: none !important;
  outline: none;
  padding: 0.375rem 0 !important;
}

.form-control-plaintext:hover {
  cursor: initial;
}

.star {
  color: red;
}

.error-message {
  background-color: #fff4f4;
  color: #f10000;
  font-weight: 500;
  padding: 15px;
}

.vertifycode {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.vertifycode .code {
  width: 100%;
  padding: 0;
  height: 40px;
  font-size: 35px;
  border: none;
  outline: none;
  letter-spacing: 50px;
  padding-left: 16px;
}

.vertifycode .labels {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 40px;
}

.vertifycode .label {
  width: 12%;
  border-bottom: solid 2px #313131;
  float: left;
  color: #313131;
  font-size: 35px;
  text-align: center;
  padding-bottom: 4px;
}

.vertifycode .label + .label {
  margin-left: 21px;
}

.modal-wrap {
  background-color: white;
  padding: 20px;
}

.bread-wrap ul {
  overflow: hidden;
}

.bread-wrap ul li {
  font-size: 16px;
  line-height: 18px;
  color: #757575;
  position: relative;
  float: left;
}

.bread-wrap ul li a {
  font-size: 16px;
  line-height: 18px;
  color: #333333;
}

.bread-wrap ul li a:hover {
  text-decoration: underline;
}

.bread-wrap ul li + li {
  margin-left: 20px;
}

.bread-wrap ul li + li:before {
  content: '>';
  display: inline-block;
  position: absolute;
  left: -14px;
  top: -2px;
}

.operate-wrap .form-select {
  width: 135px;
}

.operate-wrap .form-control {
  width: 270px;
}

.table {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(19, 34, 149, 0.1);
  -webkit-box-shadow: 1px 1px 1px grgba(19, 34, 149, 0.1);
          box-shadow: 1px 1px 1px grgba(19, 34, 149, 0.1);
  border-collapse: separate;
}

.table thead > tr > th,
.table tbody > tr > td {
  padding: 7px 5px;
  font-size: 14px;
  line-height: 24px;
  color: #343741;
}

.table thead {
  border-bottom: 1px solid #d3dae6;
}

.table thead tr th {
  font-weight: bold;
  border-bottom: 1px solid #d3dae6;
}

.table tbody tr {
  border-bottom: 1px solid #d3dae6;
}

.table tbody tr td {
  border-bottom: 1px solid #d3dae6;
}

.rowsperpage .form-select {
  width: 35%;
  display: inline-block;
  background-color: transparent;
  border: none;
}

.pagination-fms ul li + li {
  margin-left: 10px;
}

.pagination-fms ul li.active .page-link {
  background-color: #1e475d;
  color: white;
}

.page-link {
  background-color: transparent;
  color: #1e475d;
  border-radius: 8px;
  padding: 0;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 24px;
  border: none;
}

#collapseExample .card {
  display: inline-block;
  border-radius: 10px;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin: 10px 0px;
}

.collapse-btn {
  position: relative;
  padding-left: 25px;
}

.collapse-btn::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 6px;
  left: 6px;
}

.collapse-btn[aria-expanded='true']::before {
  background: url("../images/icon/cut.png");
}

.collapse-btn[aria-expanded='false']::before {
  background: url("../images/icon/plus.png");
}
/*# sourceMappingURL=global.css.map */