$blue: #1e475d;
$green: #c0e560;
$greendeep: #8bb51e;
$greenlight: #eaf6c9;
$pink: #ff6565;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;

.ver-align-b {
  vertical-align: bottom;
}

* {
  box-sizing: border-box;
}
body {
  background-color: #f7f7f8;
  font-family: 'Microsoft JhengHei';
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: black;
    }
  }
  h2 {
    font-size: 22px;
  }
}

.content {
  max-width: 100%;
  > header {
    background-color: $blue;
    .header-container {
      display: flex;
      justify-content: space-between;
      padding: 0px 10px;
    }
    .th-title {
      display: flex;
      align-items: center;
      justify-content: center;
      h2 {
        color: white;
      }
    }
  }
}

//右邊選單
.navbar {
  align-items: inherit;
  .navbar-nav {
    .nav-item {
      .nav-link {
        transition: 0.1s;
        border-radius: 100px;
        position: relative;
        color: white;
      }
      &:hover {
        .nav-link {
          background-color: $green;
          color: $blue;
        }
      }
      & + li {
        margin-left: 5px;
      }
      &.notice-item,
      &.setup-item {
        &:hover {
          .nav-link {
            background-color: $blue;
            color: white;
          }
        }
      }
    }

    //次選單
    .dropdown-hover {
      .dropdown-menu {
        border-radius: 10px;
        background-color: $green;
        display: none;
        position: absolute;
        top: 55px;
        z-index: 1;
        transition: 1s;
        min-width: 100px;
        padding: 5px;
        text-align: center;
        > li {
          padding: 6px 0px;
          margin: 8px 0px;
        }
      }
      &:hover {
        .dropdown-menu {
          display: block;
        }
      }
    }

    .dropdown-menu {
      li {
        a {
          color: $blue;
        }
        &:hover {
          a {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &.navbar-expand-sm {
    .navbar-nav {
      .nav-link {
        padding: 0.8rem 1.2rem;
      }
    }
  }
}

//通知
.notice-item {
  margin-top: 5px;
  > a {
    position: relative;
    padding: 6px 0px;
    .notice-num {
      border-radius: 100px;
      background-color: $pink;
      position: absolute;
      top: 0px;
      right: -5px;
      padding: 3px 8px;
      font-size: 12px;
    }
    &:after {
      display: none;
    }
  }
  .dropdown-menu {
    min-width: 300px;
    padding: 0px;
    top: 38px;
    right: 0;
    left: auto;
    header {
      border-bottom: 1px solid rgba(19, 34, 149, 0.1);
      justify-content: space-between;
      padding: 12px 15px;
      display: flex;
      h3 {
        font-size: $fs-16;
        font-weight: 700;
      }
    }
    .dropdown-item {
      padding: 13px 15px;
      figure {
        display: inline-block;
      }
      div {
        display: inline-block;
        margin-left: 10px;
        p {
          font-size: $fs-14;
          line-height: 24px;
        }
        span {
          font-size: $fs-12;
          line-height: 24px;
        }
      }
      & + a {
        border-top: 1px solid rgba(19, 34, 149, 0.1);
      }
      &.new-item {
        position: relative;
        div {
          p {
            font-weight: 700;
          }
        }
        &:after {
          content: '';
          display: block;
          background-color: $green;
          border-radius: 10px;
          position: absolute;
          top: 30px;
          right: 20px;
          width: 12px;
          height: 12px;
        }
      }
      &.more {
        text-align: center;
        p {
          color: #7cb305;
        }
      }
    }
  }
}
.dropdown-item {
  &:active {
    color: black;
    text-decoration: none;
    background-color: white;
  }
}

//設定
.setup-item {
  .dropdown-menu {
    box-shadow: 1px 1px 2px #bbbbbb;
    background-color: white;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    min-width: 254px;
    padding: 0px;
    .dropdown-item {
      padding: 12px 10px;
      figure {
        display: inline-block;
        // vertical-align: super;
        padding: 0px 12px;
      }
      > div {
        display: inline-block;
        > p {
          font-size: 16px;
          line-height: 24px;
        }
        span {
          vertical-align: sub;
          display: block;
          font-size: 14px;
          line-height: 20px;
          color: rgba(0, 0, 0, 0.6);
        }
      }

      & + a {
        border-top: 1px solid rgba(19, 34, 149, 0.1);
      }
    }
    .text {
      p {
        text-align: center;
        font-size: 12px;
        padding: 10px 10px;
      }
    }
    &:before {
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      border-style: solid;
      border-width: 0 15px 16px 15px;
      border-color: transparent transparent #ffffff transparent;
    }
  }
  .dropdown-menu[data-bs-popper] {
    top: 100%;
    left: auto;
    right: 0;
  }
  &:hover {
    .nav-link {
      background-color: $blue;
    }
  }
}
