.content {
  > div {
    background-color: white;
    width: 100%;
    float: left;
  }
}
.th-bg {
  background-image: url('../images/bg_login.png');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 55%;
  height: 100%;
}

.th-login {
  max-width: 45%;
  position: relative;
  height: 100%;
}

.login-container {
  position: absolute;
  max-width: 80%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 475px;
  margin: auto;
}

.returnLogin {
  position: absolute;
  top: -20%;
  left: -8%;
  &:hover {
    text-decoration: underline;
  }
}

//忘記密碼
.th-forgetPassword {
  .login-container {
    height: 260px;
  }
}

//重設密碼
.th-resetPassword {
  .login-container {
    height: 300px;
  }
}
