.main-container {
  padding: 20px 25px;
}

.container {
  //   max-width: 80%;
  //   width: 100%;
  footer {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
  }
}

.page-wrap {
  background-color: white;
  border: 1px rgba(19, 34, 149, 0.1);
  box-shadow: 1px 1px 12px #dddddd;
  border-radius: 10px;
  padding: 20px 25px;
  form {
    overflow: hidden;
    position: relative;
    > div {
      width: 30%;
    }
    button {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }
  }
}

footer {
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

//新增項目（新增駕駛/新增帳號）
.addItem-wrap {
  background-color: white;
  border-radius: 10px;
  padding: 25px 25px;
}
