.bg-arrow_down {
  width: 11px;
  height: 10px;
  background: url('../images/sprites.png') -76px -169px;
}

.bg-arrow_right {
  width: 20px;
  height: 20px;
  background: url('../images/sprites.png') -178px -55px;
}

.bg-cut {
  width: 25px;
  height: 24px;
  background: url('../images/sprites.png') -122px -67px;
}

.bg-delete {
  width: 16px;
  height: 16px;
  background: url('../images/sprites.png') -178px -95px;
}

.bg-edit {
  width: 14px;
  height: 14px;
  background: url('../images/sprites.png') -10px -169px;
}

.bg-email {
  width: 17px;
  height: 12px;
  background: url('../images/sprites.png') -134px -124px;
}

.bg-error {
  width: 10px;
  height: 10px;
  background: url('../images/sprites.png') -107px -169px;
}

.bg-notice_fail {
  width: 36px;
  height: 37px;
  background: url('../images/sprites.png') -10px -10px;
}

.bg-notice_location {
  width: 36px;
  height: 37px;
  background: url('../images/sprites.png') -66px -10px;
}

.bg-notice_setup {
  width: 12px;
  height: 12px;
  background: url('../images/sprites.png') -44px -169px;
}

.bg-notice_success {
  width: 36px;
  height: 37px;
  background: url('../images/sprites.png') -122px -10px;
}

.bg-notice_task {
  width: 36px;
  height: 37px;
  background: url('../images/sprites.png') -10px -67px;
}

.bg-notice_update {
  width: 36px;
  height: 37px;
  background: url('../images/sprites.png') -66px -67px;
}

.bg-plus {
  width: 10px;
  height: 10px;
  background: url('../images/sprites.png') -137px -169px;
}

.bg-search {
  width: 16px;
  height: 16px;
  background: url('../images/sprites.png') -178px -131px;
}

.bg-point {
  width: 10px;
  height: 10px;
  background: url('../images/sprites.png') -167px -169px;
}

.bg-setup_account {
  width: 22px;
  height: 25px;
  background: url('../images/sprites.png') -178px -10px;
}

.bg-setup_bell {
  width: 16px;
  height: 16px;
  background: url('../images/sprites.png') -98px -124px;
}

.bg-setup_guidedt_Tour {
  width: 24px;
  height: 25px;
  background: url('../images/sprites.png') -10px -124px;
}

.bg-setup_signout {
  width: 24px;
  height: 24px;
  background: url('../images/sprites.png') -54px -124px;
}

.bg-success {
  width: 12px;
  height: 8px;
  background: url('../images/sprites.png') -220px -10px;
}
